<h1>Consultation</h1>

<% @messages.each do |message| %>
  <%= render :partial => 'widget', :locals => { :message => message } %>
<% end %>

<br />

<%= link_to 'New Message', new_appointment_message_path(@appointment.id) %>
