<h1 class='header-title'>New Message</h1>

<div class="customer-help">
  Writing clear and concise messages can help customers and stylists be on the same page in terms of expectations. 
</div>

<%= render 'form' %>
