<!-- side menu -->
<div id='side-menu'>
  <!-- profile -->
  <div id='profile-info'>
    <div id='profile-picture'>
      <span>NadaY</span>
    </div>
  </div>

  <div id='profile-location'>
    <i class='icon-map-marker'>
      <span id='profile-city'>Waterloo</span>
    </i>
  </div>

  <ul>
    <li>
      <i class='icon-user'>
        <span>Profile</span>
      </i>
    </li>
    <li>
      <i class='icon-search'>
        <span>Stylists</span>
      </i>
    </li>
    <li>
      <i class='icon-calendar'>
        <span>Appointments</span>
      </i>
    </li>
    <li>
      <i class='icon-heart'>
        <span>Lookbook</span>
      </i>
    </li>
  </ul>
</div>