<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- Bootstrap -->
  </head>
  <body id='home-index'>
    <div class='container'>
      <div id='home-overlay'>
      </div>
      
      <div id='home-control' class='row'>
        <div id='home-logo'>upinhair</div>

        <div id='home-login' class='clearfix'>
          <div id='home-stylist'></div>
          <div id='home-customer'></div>
        </div>
  
        <div id='home-info'>
          <div id='home-catch'>Perfect Haircuts.</div>  
          <div id='home-intro'>Upinhair connects you with the best stylists for your hair.</div>
        </div>

        <div id='home-inputs'>
          <input type='text' class='text-field' placeholder='email'></input>
          <input type='password' class='text-field' placeholder='password'></input>
        </div>

      </div>
    </div>
  </body>
</html>