<div class="customer-help">
	Your profile is used to determine which hairstyles suit you best. It also contains important information for stylists during the appointment process.
</div>

<%= render 'form' %>

