<h1>Stylists Near You</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stylists.each do |stylist| %>
  <tr>
    <td><%= stylist.salon %></td>
    <td><%= link_to 'Show', stylist %></td>
    <td><%= link_to 'Book It', {:controller=>"appointments", :action=>"new", :stylist => stylist.id} %>
  </tr>
<% end %>
</table>

<br />

