<h1 class="header-title">Stylists Near You</h1>

<div class="customer-help">
  Upinhair uses a complex algorithm to determine the best stylists near you using a combination of your personal information.
</div>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stylists.each do |stylist| %>
  <tr>
    <td><%= stylist.salon %></td>
    <td><%= link_to 'Show', stylist %></td>
    <td><%= link_to 'Book It', {:controller=>"appointments", :action=>"new", :stylist => stylist.id} %>
  </tr>
<% end %>
</table>

<br />

