<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body>
	<% @stylists.each do |stylist| %>
		<%= stylist.user.name %>
	<% end %>
</body>

</html>