// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appointment-widget {
	margin: 30px;
	border: 1px solid seagreen;
}

.appointment-header {
	background: seagreen;
	position: relative;
	color: white;
	padding: 10px;
	h2 {
		position: absolute;
		color: white;
		right: 20px;
		top: 0;
	}
}

.appointment-form-container {
	padding: 20px;
}

.appointment-page {
	padding: 20px;
}

.appointment-page-stylist {
	height: 150px;
	#avatar {
		width: 100px;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 30px;
	}
}

