// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-edit {
	padding: 30px 30px 0;
	padding-top: 45px;
	width: 400px;

	.actions input {
		background: #4CACCE;
		border: none;
		border-radius: 4px;
		color: white;
		float: left;
		padding: 10px 30px;

	  &:hover {
	    background: #495D6E;
	    text-decoration: underline;
	  }
	}

	textarea {
		width: 400px;
		resize: none;
	}
}

.customer-help {
	background: #eee;
	padding: 30px;
}

.form-container {
	h1 {
		font-family: 'Proxima Nova';
		font-size: 24px;
		color: black;
	}
}

.field-section {
	border-top: 1px solid #eee;
	padding-top: 20px;

	.field {
		padding: 10px 0;
		width: 400px;
	}

	input,
	select {
		float: right;
	}
}

.customer-forms {
	margin-bottom: 60px;
}
