
body {
	background-color: #ECECEC;
}

#map-canvas {
	width: 600px;
	height: 250px;
}

#container {
	margin: 0 50px;
}

/* Stylist Result */
.stylist-wrapper {
	margin-top: 10px;
}
.stylist-picture {
	width: 80px;
	float: left;
}

.stylist-result {
	background-color: #fff;
	border: 1px solid #A4A4A4;
	width: 400px;
	height: 80px;
	margin-left: 90px;
	padding: 0px;
}

.stylist-result h3 {
	line-height: 30px;
}
.stylist-result h3, p {
	margin: 0;
	padding: 0 0 0 10px;
}






/* For old search form */
#search-form {
	margin-top: 50px;
}

#search-form input[type="text"] {
	border-radius: 0;
	margin: 0;
}

#search-form input[type="button"] {
	width: 80px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background-color: #4CACCE;
	border: none;
	color: #fff;
}

#map-canvas {
	height: 400px;
}