#container {
	margin: 0 50px;
}

/* Stylist Result */
.stylist-wrapper {
	margin-top: 10px;
}

.stylist-picture {
	float: left;
}

.stylist-result {
	background-color: #fff;
	border: 1px solid #A4A4A4;
	height: 150px;
	margin-left: 160px;
	padding: 0px;
	width: 700px;
}

.stylist-result h3 {
	line-height: 30px;
}
.stylist-result h3, p {
	margin: 0;
	padding: 0 0 0 10px;
}

/* For old search form */
#search-form {
	margin-top: 50px;
}

#search-form input[type="text"] {
	border-radius: 0;
	margin: 0;
}

#search-form input[type="button"] {
	width: 80px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background-color: #4CACCE;
	border: none;
	color: #fff;
}

#map-canvas {
	height: 400px;
	margin-bottom: 30px;
}

#map-result {
	font-size: 20px;
	margin: 30px;
}

#map-result-list {
	margin: 20px 30px;

	.stylist-wrapper {
		float: left;
	}

	.stylist-picture img {
		height: 150px;
		width: 150px;
	}
}