.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}

html,body { 
  font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
}

.container {
  height: 100%;
}

#home-index {
  background: #000 image-url('salon_1.png') no-repeat center;
  height: 100%; 
  margin: 0px; 
  padding: 0px;
}

#home-overlay {
  background: #000;
  float: right;
  height: 100%;
  opacity: 0.3;  
  width: 50%;
}

#home-control {
  color: #fff;
  margin-left: -300px;
  position: absolute; top: 30%; left: 50%;
  width: 600px;
}

#home-logo {
  color: #fff;
  font-family: 'pacifico', Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}

#home-login {
  float: left;
  width: 300px;
  
  #home-stylist {
    background: image-url('stylist.png') no-repeat center;
    height: 100px;
    float: left;
    width: 100px;
  }

  #home-customer {
    background: image-url('customer.png') no-repeat center;
    height: 100px;
    float: left;
    width: 100px;
  }  
}

#home-info {
  float: left;
  font-family: 'galaxiepolaris', Helvetica, sans-serif;
  width: 300px;
}

#home-catch {
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
}

#home-intro {
  font-size: 22px;
  line-height: 25px;
  margin-top: 10px;
}
