<div class="appointment-page">
	<div class="appointment-header">
		<h1>Appointment</h1>
	</div>
	<div class="appointment-form-container">
		<%= render 'form' %>
	</div>

	<%= link_to 'Back', appointments_path %>
</div>
